
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(229, 229, 235);
}

h2 {
    text-align: center;
}
.container {
    background: rgb(255, 255, 255);
    padding: 1.6rem;
    border-radius:6px ;
    width: 100%;
    max-width: 80%;
    
}

.auth {
    text-align: center
}

input {
    width: 40%;
    height: 30px;
    margin: 15px 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(194, 186, 186);

}

button {
    height: 30px;
    font-size: 16px;
    width: 15%;
    border: none;
    border-radius: 5px;
    background: rgb(161, 161, 223);
}

button:hover {
    background: rgb(110, 110, 219);
    color: #fff;

}
 
img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.error {
    color: rgb(249, 23, 23);
    margin: 15px 0;
    font-size: 18px;
}